.config-group {
  margin-top: 1rem;
  margin-bottom: 1.5rem;

  .c-select {
    width: 100%;
    max-width: 35rem;
  }

  .width-control {
    max-width: 35rem;
    width: 100%;
  }
  .form-control.ng-invalid {
    border-color: #a94442;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(169,68,66,0.75);
    -moz-box-shadow: 0px 0px 3px 0px rgba(169,68,66,0.75);
    box-shadow: 0px 0px 3px 0px rgba(169,68,66,0.75);
  }
  
  .c-select.ng-invalid {
    border-color: #a94442;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(169,68,66,0.75);
    -moz-box-shadow: 0px 0px 3px 0px rgba(169,68,66,0.75);
    box-shadow: 0px 0px 3px 0px rgba(169,68,66,0.75);
  }
  .jcrop-keymgr {
    top: 0px;
    opacity: 0;
  }
}
.buttons-container {
  float: right;
}
